
<div *ngIf="this.concursoService.seleccionado;else qwerty">
    <h1>IDENTIFICACION DEL PROYECTO</h1>
    <form>
        <div class="form-group">
        <label for="tipoproyecto">Tipo de Proyecto: DIE - Desarrolla y Valida.</label>
        <div>
            <label for="tiempoejecucion">Tiempo de ejecucion: 8</label>
        </div>
        </div>
        <div class="form-group">
        <label for="nombreproyecto">Nombre Proyecto</label>
        <input type="name" class="form-control" id="nombreproyecto" placeholder="QWERTY"[(ngModel)]="nombre">
        </div>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">NOMBRE COMPLETO</th>
            <th scope="col">N°RUT</th>
            <th scope="col">UNIDAD ACADEMICA</th>
            <th scope="col">E-MAIL</th>
            <th scope="col">N° CELULAR</th>
            <th scope="col">N° ANEXO</th>
            <th scope="col">DIRECTOR PROYECTO</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Testing guy</td>
            <td>11111111-x</td>
            <td>asd@gmail.com</td>
        </tr>
        </tbody>
    </table>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Agregar postulante
  </button>
  
  <!-- Modal -->
  <div class="modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Agregar postulante</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                <label for="nombreproyecto">Nombre Proyecto</label>
                <input type="name" class="form-control" id="nombreproyecto" placeholder="QWERTY"[(ngModel)]="nombre">
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>


  </div>


</div>
  <!-- esto se muestra si no ha seleccionado concurso  -->
  <ng-template #qwerty>
    <div class="card-body table-full-width table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <th>ID</th>
                <th>Nombre</th>
                <th>Fecha de creación</th>
                <th>Estado</th>
                <th></th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                      <a>
                        Concurso Corfo Innova 2030
                      </a>
                    </td>
                    <td>20-01-2020</td>
                    <td>Vigente</td>
                    <td>
                        <button (click)="selectConcurso()" type="button" class="btn btn-info">Seleccionar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </ng-template>