<div class="sidebar" data-color="azure" data-image="assets/img/sidebar-3.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="/" class="simple-text">
                DIE
            </a>
        </div>

        <ul class="nav">
            <li>
                <a routerLink="/concursos">
                    <i class="pe-7s-graph"></i>
                    <p>Concursos</p>
                </a>
            </li>
            <li>
                <a routerLink="/finanzas">
                    <i class="pe-7s-user"></i>
                    <p>Finanzas</p>
                </a>
            </li>
            <li>
                <a routerLink="/estadisticas">
                    <i class="pe-7s-note2"></i>
                    <p>Estadísticas</p>
                </a>
            </li>
            <li class="active-pro">
                <a href="#">
                    <i class="pe-7s-rocket"></i>
                    <p>DIE</p>
                </a>
            </li>
        </ul>
    </div>
</div>