<div class="sidenav">
  <div class="login-main-text display-flex-items">
    <h2 style="text-align: center;">DIE<br /></h2>
    <p style="text-align: center;">
      Dirección de Innovación y emprendimiento <br />
    </p>
    <h3 style="text-align: center;">
      Pontificia Universidad Católica de Vaparaíso
    </h3>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <form>
        <div class="form-group">
          <label>Correo electrónico</label>
          <input
            type="text"
            class="form-control"
            placeholder="ingresa tu correo"
          />
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Password" />
        </div>
        <button type="submit" class="btn btn-black">Iniciar sesión</button>
      </form>
    </div>
  </div>
</div>
