 <div class="row">
   <div class="col-md-12">
     <div class="card">
         <div class="header">
            <div class="row">
              <div class="col-lg-6">
                <h1 class="title">Etapas</h1>
                <p class="category">Etapas desenlazadas en el proceso de selección en un concurso.</p>  
              </div>

              <div class="pull-right mx-2">
                <button class="dropdown pull-right">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <p>
                            Grupo
                            <b class="caret"></b>
                        </p>
     
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">grupo 1</a></li>
                    <li><a href="#">grupo 2</a></li>
                  </ul>
                </button>
              </div>
              <div class="pull-right">
                <button class="dropdown pull-right">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <p>
                            Concursos
                            <b class="caret"></b>
                        </p>
     
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Concurso 1</a></li>
                    <li><a href="#">Concurso 2</a></li>
                  </ul>
                </button>
              </div>
            </div>
         </div>
         <div class="content table-responsive table-full-width">
             <table class="table table-hover table-striped">
                 <tbody>
                     <tr routerLink="/finanzas">
                       <td>Postulación</td>
                     </tr>
                     <tr>
                       <td>Adminisibilidad</td>
                     </tr>
                     <tr>
                       <td>Evaluación 1</td>
                     </tr>
                     <tr>
                       <td>Evaluación 2</td>
                     </tr>
                     <tr routerLink="/preseleccion">
                       <td>Pre-seleccionados</td>
                     </tr>
                     <tr routerLink="/eventos">
                       <td>Eventos</td>
                     </tr>
                     <tr>
                       <td>Evaluación 2</td>
                     </tr>
                     <tr>
                       <td>Notificación</td>
                     </tr>
                     <tr routerLink="/seleccion">
                       <td>Seleccionados</td>
                     </tr>
                 </tbody>
             </table>
             <div class="footer">
                <hr>
                <div class="stats">
                  <p>
                    Tabla de concursos
                  </p>
                </div>
            </div>
         </div>
     </div>
   </div>
 </div> 

 