<div class="row">

    <div *ngIf="this.etapa == 0">
        <div *ngIf="this.concursoService.seleccionado; else seleccionadoActivo" class="col-md-12">
            <nav class="navbar navbar-default navbar-fixed">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li>   
                                    <button (click)="agregarConcurso()" type="button" class="btn btn-info">Agregar Concurso</button>
                                </li>
                                <li class="separator hidden-lg"></li>
                            </ul>
                        </div>
                    </div>
                </nav>
        <div style="margin-top: 20px;" class="card-body table-full-width table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Fecha de creación</th>
                    <th>Estado</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>
                          <a>
                            Concurso Corfo Innova 2030
                          </a>
                        </td>
                        <td>20-01-2020</td>
                        <td>Vigente</td>
                        <td>
                            <button (click)="selectConcurso()" type="button" class="btn btn-info">Seleccionar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="this.concursoService.agregar" class="card-body">
                <app-agregar-concurso></app-agregar-concurso>
        </div>
    </div>

    <ng-template #seleccionadoActivo>
                <div *ngIf="!this.proyectoService.seleccionado; else tablaProyecto" class="card-body table-full-width table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <th>ID</th>
                                <th>Nombre Proyecto</th>
                                <th>Fecha de inscripción</th>
                                <th>Nombre de jefe</th>
                                <th></th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                      <a>
                                        Confor de lija innova
                                      </a>
                                    </td>
                                    <td>20-01-2020</td>
                                    <td>Carlos Sangüeza</td>
                                    <td>
                                        <button (click)="selectProyecto()" type="button" class="btn btn-info">Seleccionar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                </div>
                <ng-template #tablaProyecto>
                    <nav class="navbar navbar-default navbar-fixed">
                        <div class="container-fluid">
                            
                            <div class="collapse navbar-collapse">
                                <ul class="nav navbar-nav">
                                    <li>
                                    <a class="mx-2" (click)="changeEtapa(1)">
                                        <p>Adminisibilidad</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a style="margin-left: 100px;" (click)="changeEtapa(2)">
                                            <p>Evaluación 1</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a style="margin-left: 100px;" (click)="changeEtapa(3)">
                                            <p>Notificación 1</p>
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a style="margin-left: 100px;" (click)="changeEtapa(4)">
                                            <p>Eventos</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a style="margin-left: 100px;" (click)="changeEtapa(2)">
                                            <p>Evaluación 2</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a style="margin-left: 100px;" (click)="changeEtapa(3)">
                                            <p>Notificación 2</p>
                                        </a>
                                    </li>
                                    <li class="separator hidden-lg"></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <app-tabla-proyecto></app-tabla-proyecto>
                </ng-template>
    </ng-template>

    </div>
    <div *ngIf="this.etapa == 1">
        <app-admisibilidad></app-admisibilidad>     
    </div>
    <div *ngIf="this.etapa == 2">
        <app-evaluacion></app-evaluacion>  
    </div>
    <div *ngIf="this.etapa == 3">
        <app-notificacion></app-notificacion>     
    </div>
    <div *ngIf="this.etapa == 4">
        <app-eventos></app-eventos>  
    </div>

    

  <button (click)="selectConcurso()">activar</button> 

  
 </div> 

 