<nav class="navbar navbar-default navbar-fixed">
    <div class="container-fluid">  
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                   <a class="mx-2" routerLink="/admisibilidad">
                       <p>Adminisibilidad</p>
                    </a>
                </li>
                <li>
                   <a style="margin-left: 100px;" routerLink="/evaluacion">
                       <p>Evaluación 1</p>
                    </a>
                </li>
                <li>
                    <a style="margin-left: 100px;" routerLink="/notificacion">
                        <p>Notificación 1</p>
                     </a>
                 </li>
                 <li>
                    <a style="margin-left: 100px;" routerLink="/eventos">
                        <p>Eventos</p>
                     </a>
                 </li>
                 <li>
                    <a style="margin-left: 100px;" routerLink="/evaluacion">
                        <p>Evaluación 2</p>
                     </a>
                 </li>
                 <li>
                    <a style="margin-left: 100px;" routerLink="/notificacion">
                        <p>Notificación 2</p>
                     </a>
                 </li>
                <li class="separator hidden-lg"></li>
            </ul>
        </div>
    </div>
</nav>
<div style="margin-top: 20px;" class="col-md-12">
        
        <div class="card ">
            <div class="header">
            <div class="row">
              <div class="col-lg-6">
                <h1 class="title">Eventos</h1>
                <p style="margin-top: 10px;" class="category">Eventos en los que participa el proyecto pene.</p>  
              </div>
            </div>
         </div>
            <div class="content">
                <div class="table-full-width">
                    <table class="table">
                        <thead>
                            <th class="col-lg-1">
                                <i class="nc-icon nc-check-2"></i>
                            </th>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Fecha
                            </th>
                            <th>
                                Descripción
                            </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let evento of eventoService.eventos">
                                <td>
                                    <div class="checkbox col-lg-1">
                                            <input  id="checkbox1" type="checkbox" value="true">
                                            <label  for="checkbox1"></label>
                                    </div>
                                </td>
                                <td class="col-lg-3">
                                    <input type="text" #nombre="ngModel" [(ngModel)]="evento.nombre" name="nombre" placeholder="Ingrese nombre del evento" class="form-control" required>
                                </td>
                                <td class="col-lg-3">
                                    <input type="date" #descripcion="ngModel" [(ngModel)]="evento.fecha" name="nombre" placeholder="Ingrese la fecha del evento" class="form-control" required>
                                </td>
                                <td class="col-lg-3">
                                    <input type="text" #fecha="ngModel" [(ngModel)]="evento.descripcion" name="nombre" placeholder="Ingrese la descripción del evento" class="form-control" required>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                    <div >
                        <button style="margin-right: 5px;" (click)=agregarEvento() class="btn btn-success">Agregar Evento</button>
                        <button style="margin-right: 5px;" (click)=guardarCambios() class="btn btn-info">Guardar cambios</button>
                    </div>
            </div>
        </div>
</div>
`