<div class="col-md-12">
        <div class="card ">
            <div class="header">
            <div class="row">
              <div class="col-lg-6">
                <h1 class="title">Etapas</h1>
                <p class="category">Etapas desenlazadas en el proceso de selección en un concurso.</p>  
              </div>
              <div class="col-lg-6">
                <button class="dropdown pull-right">
                  <a href="#" class="dropdown-toggle nounderline" data-toggle="dropdown">
                        <p>
                            Grupos
                            <b class="caret"></b>
                        </p>
     
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Grupo 1</a></li>
                    <li><a href="#">Grupo 2</a></li>
                  </ul>
                </button>
              </div>
            </div>
         </div>
            <div class="content">
                <div class="table-full-width">
                    <table class="table">
                        <thead>
                            <th>
                                
                            </th>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Fecha
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="checkbox">
                                            <input  id="checkbox1" type="checkbox">
                                            <label  for="checkbox1"></label>
                                    </div>
                                </td>
                                <td>Seminario de emprendimiento</td>
                                <td>Fecha del evento</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="footer">
                    <hr>
                    <div class="stats">
                        Footer
                    </div>
                </div>
            </div>
        </div>
</div>
`